<<<<<<< HEAD
.ui-autocomplete-category {
    font-weight: bold;
    margin: .8em 0 .2em;
    line-height: 1.5;
    list-style-type: none;
  }

.ui-autocomplete {
    background: #FFFF;
    z-index:2;
  }

.ui-menu-item {
    list-style-type: none;
    text-indent: 25px;
}

.jumbotron {
    background-image: url("../img/NYC.jpeg");
    background-color: #cccccc;
    background-size: cover;

}

.background {
    background-image: url("../img/NYC.jpeg");
    background-color: #cccccc;
    background-size: cover;

}
=======
#map,
body,
html {
  height: 100%;
}
/* set map, body, and html to 100% of the screen size */
>>>>>>> 10f32f7aed42ebd961cbd6ca03a98e0043f6eb0e
